numpy
setuptools
hdf5storage
h5py
py3nvml
pyinstrument
jupyter
jupyterlab
matplotlib
scikit-image
scikit-learn
scipy
Pillow
imutils
pydot
imgaug
protobuf
torch
torchaudio
torchvision
tensorflow
tqdm
transformers
xformers
controlnet_aux
diffusers==0.11.1
ftfy
accelerate
