numpy
setuptools
protobuf
hdf5storage
h5py
py3nvml
pyinstrument
jupyter
jupyterlab
ipykernel 
ipywidgets
pandas
scipy
seaborn
matplotlib
yellowbrick
plotly
scikit-image
scikit-learn
transformers
Pillow
imutils
pydot
imgaug
torch
torchaudio
torchvision
tensorflow
tqdm
xformers
controlnet_aux
diffusers==0.11.1
ftfy
accelerate
